In [21]:
import pandas as pd
import selenium 
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver=webdriver.Chrome(r"D:\sel\\chromedriver.exe")

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

# Q1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [31]:
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]
Ranking=[]

In [32]:
titles_tags=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td")
titles_tags[0:10]

for i in titles_tags:
    title=i.text
    Rank.append(title.replace('\n','-'))
Rank[0:30]

['1.',
 '"Baby Shark Dance"[22]',
 "Pinkfong Kids' Songs & Stories",
 '8.44',
 'June 17, 2016',
 '[B]',
 '2.',
 '"Despacito"[24]',
 'Luis Fonsi',
 '7.32',
 'January 12, 2017',
 '[C]',
 '3.',
 '"Shape of You"[25]',
 'Ed Sheeran',
 '5.29',
 'January 30, 2017',
 '[D]',
 '4.',
 '"Johny Johny Yes Papa"[26]',
 'LooLoo Kids',
 '5.24',
 'October 8, 2016',
 '[E]',
 '5.',
 '"See You Again"[27]',
 'Wiz Khalifa',
 '5.08',
 'April 6, 2015',
 '[F]']

In [33]:
 Rank[0::6]

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.',
 '"Baby Shark Dance"[22]',
 '',
 'August 4, 2017',
 '2,894,000,000',
 '"Gangnam Style"⁂[32]',
 '[33]',
 'July 16, 2010',
 '178,400,000',
 '"Charlie Bit My Finger"[73]',
 '[121]',
 'May 2, 2009',
 '92,600,000',
 '"Evolution of Dance"[66]',
 '[126]',
 'March 1, 2008',
 '10,600,000',
 '"Pokemon Theme Music Video"‡[132]',
 '[133]',
 'February 18, 2006',
 '3,400,000',
 '"The Chronic of Narnia Rap"‡[141]',
 '[142]',
 'October 31, 2005',
 '247,000',
 '"Me at the zoo"[57]',
 '[148]']

In [34]:
Ranking[0:30]=Rank[0::6]

In [35]:
Name=[]
i = 1
while i < len(Rank):
    print (Rank[i])
    Name.append(Rank[i])
    i = i+6;

"Baby Shark Dance"[22]
"Despacito"[24]
"Shape of You"[25]
"Johny Johny Yes Papa"[26]
"See You Again"[27]
"Masha and the Bear – Recipe for Disaster"[30]
"Uptown Funk"[31]
"Gangnam Style"[32]
"Learning Colors – Colorful Eggs on a Farm"[34]
"Bath Song"[35]
"Phonics Song with Two Words"[36]
"Sugar"[37]
"Sorry"[38]
"Roar"[39]
"Dame Tu Cosita"[40]
"Counting Stars"[41]
"Thinking Out Loud"[42]
"Dark Horse"[43]
"Faded"[44]
"Shake It Off"[45]
"Lean On"[46]
"Bailando"[47]
"Girls Like You"[48]
"Let Her Go"[49]
"Mi Gente"[50]
"Wheels on the Bus"[51]
"Hello"[52]
"Perfect"[53]
"Waka Waka (This Time for Africa)"[54]
"Axel F"[55]
Pinkfong! Kids' Songs & Stories

1,186
April 6, 2015
Psy
[N]
862
November 24, 2009
HDCYT

176
February 27, 2007
Judson Laipply

14
April 6, 2006
Smosh
[S]
22
December 1, 2005
youtubedude

70
October 5, 2005
jawed

In [36]:
Name[0:30]

['"Baby Shark Dance"[22]',
 '"Despacito"[24]',
 '"Shape of You"[25]',
 '"Johny Johny Yes Papa"[26]',
 '"See You Again"[27]',
 '"Masha and the Bear – Recipe for Disaster"[30]',
 '"Uptown Funk"[31]',
 '"Gangnam Style"[32]',
 '"Learning Colors – Colorful Eggs on a Farm"[34]',
 '"Bath Song"[35]',
 '"Phonics Song with Two Words"[36]',
 '"Sugar"[37]',
 '"Sorry"[38]',
 '"Roar"[39]',
 '"Dame Tu Cosita"[40]',
 '"Counting Stars"[41]',
 '"Thinking Out Loud"[42]',
 '"Dark Horse"[43]',
 '"Faded"[44]',
 '"Shake It Off"[45]',
 '"Lean On"[46]',
 '"Bailando"[47]',
 '"Girls Like You"[48]',
 '"Let Her Go"[49]',
 '"Mi Gente"[50]',
 '"Wheels on the Bus"[51]',
 '"Hello"[52]',
 '"Perfect"[53]',
 '"Waka Waka (This Time for Africa)"[54]',
 '"Axel F"[55]']

In [37]:
Artist=[]
i = 2
while i < len(Rank):
    Artist.append(Rank[i])
    i = i+6;
Artist[0:30]

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi',
 'Ed Sheeran',
 'LooLoo Kids',
 'Wiz Khalifa',
 'Get Movies',
 'Mark Ronson',
 'Psy',
 'Miroshka TV',
 'Cocomelon – Nursery Rhymes',
 'ChuChu TV',
 'Maroon 5',
 'Justin Bieber',
 'Katy Perry',
 'El Chombo',
 'OneRepublic',
 'Ed Sheeran',
 'Katy Perry',
 'Alan Walker',
 'Taylor Swift',
 'Major Lazer Official',
 'Enrique Iglesias',
 'Maroon 5',
 'Passenger',
 'J Balvin',
 'Cocomelon – Nursery Rhymes',
 'Adele',
 'Ed Sheeran',
 'Shakira',
 'Crazy Frog']

In [38]:
Views=[]
i = 3
while i < len(Rank):
    Views.append(Rank[i])
    i = i+6;
Views[0:30]

['8.44',
 '7.32',
 '5.29',
 '5.24',
 '5.08',
 '4.43',
 '4.16',
 '4.05',
 '3.97',
 '3.95',
 '3.78',
 '3.45',
 '3.43',
 '3.34',
 '3.28',
 '3.27',
 '3.24',
 '3.05',
 '3.05',
 '3.05',
 '3.02',
 '3.01',
 '3.01',
 '2.97',
 '2.90',
 '2.89',
 '2.83',
 '2.82',
 '2.80',
 '2.77']

In [39]:
Upload_Date=[]
i = 4
while i < len(Rank):
    Upload_Date.append(Rank[i])
    i = i+6;
Upload_Date[0:30]

['June 17, 2016',
 'January 12, 2017',
 'January 30, 2017',
 'October 8, 2016',
 'April 6, 2015',
 'January 31, 2012',
 'November 19, 2014',
 'July 15, 2012',
 'February 27, 2018',
 'May 2, 2018',
 'March 6, 2014',
 'January 14, 2015',
 'October 22, 2015',
 'September 5, 2013',
 'April 5, 2018',
 'May 31, 2013',
 'October 7, 2014',
 'February 20, 2014',
 'December 3, 2015',
 'August 18, 2014',
 'March 22, 2015',
 'April 11, 2014',
 'May 31, 2018',
 'July 25, 2012',
 'June 29, 2017',
 'May 24, 2018',
 'October 22, 2015',
 'November 9, 2017',
 'June 4, 2010',
 'June 16, 2009']

In [40]:
import pandas as pd
First_task=pd.DataFrame({})
First_task['Rank']=Ranking[0:30]
First_task['Name']=Name[0:30]
First_task['Artist']=Artist[0:30]
First_task['Upload_Date']=Upload_Date[0:30]
First_task['Views']=Views[0:30]
First_task

,Rank,Name,Artist,Upload_Date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.44
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.32
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.29
3,4.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.24
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.08
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.43
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.16
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",4.05
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",3.97
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.95
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.78
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.45
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.43
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.34
14,15.,"""Dame Tu Cosita""[40]",El Chombo,"April 5, 2018",3.28
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.27
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.24
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.05
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.05
19,20.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.05
20,21.,"""Lean On""[46]",Major Lazer Official,"March 22, 2015",3.02
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.01
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.01
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.97
24,25.,"""Mi Gente""[50]",J Balvin,"June 29, 2017",2.90
25,26.,"""Wheels on the Bus""[51]",Cocomelon – Nursery Rhymes,"May 24, 2018",2.89
26,27.,"""Hello""[52]",Adele,"October 22, 2015",2.83
27,28.,"""Perfect""[53]",Ed Sheeran,"November 9, 2017",2.82
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.80
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.77

# Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [368]:
driver2=webdriver.Chrome(r"D:\sel\\chromedriver.exe")

In [369]:
driver2.get('https://www.bcci.tv/')

A) Match title (I.e. 1st ODI) 
B) Series
C) Place 
D) Date
E) Time Note:

In [406]:
Match_title=[]

In [408]:
Match_t=driver2.find_elements_by_xpath("//li[@class='js-thumb slider__item match-slider__item u-no-margin slider__item--active']/a/div[2]/div[2]/p[2]/strong")
Match_t[0:1]

for i in Match_t:
    Match=i.text
    Match_title.append(Match.replace('\n','-'))
Match_title[0:1]

['1st ODI']

In [ ]:
Match_t=driver2.find_elements_by_xpath("//li[@class='js-thumb slider__item match-slider__item u-no-margin slider__item--active']/a/div[2]/div[2]/p[2]/strong")
Match_t[0:1]

for i in Match_t:
    Match=i.text
    Match_title.append(Match.replace('\n','-'))
Match_title[0:1]

In [ ]:
Series=[]

In [409]:
Series_t=driver2.find_elements_by_xpath("//li[@class='js-thumb slider__item match-slider__item u-no-margin slider__item--active']/a/div[2]/div[1]/span[2]")
Series_t[0:1]

for i in Series_t:
    Seriess=i.text
    Series.append(Seriess.replace('\n','-'))
Series[0:1]

['INDIA V ENGLAND 2021']

In [426]:
Place=[]

In [427]:
Place_t=driver2.find_elements_by_xpath("//li[@class='js-thumb slider__item match-slider__item u-no-margin slider__item--active']/a/div[2]/div[2]/p[2]")
Place_t[0:1]

for i in Place_t:
    Places=i.text
    Place.append(Places.replace('\n','-'))
Place[0:1]

['1st ODI Maharashtra Cricket Association Stadium, Pune']

In [428]:
Date=[]

In [429]:
Date_t=driver2.find_elements_by_xpath("//li[@class='js-thumb slider__item match-slider__item u-no-margin slider__item--active']/a/div[2]/div[2]/span/strong")
Date_t[0:1]

for i in Date_t:
    Dates=i.text
    Date.append(Dates.replace('\n','-'))
Date[0:1]

['Tuesday 23 March']

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [3]:
driver3=webdriver.Chrome(r"D:\sel\\chromedriver.exe")

In [9]:
driver3.get('https://www.guru99.com/')

In [10]:
url=driver3.find_elements_by_xpath("//*[@id='java_technologies']/li[3]/a")
UR=[]
for i in url[:1]:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver3.get(url)

In [14]:
urltwo=driver3.find_elements_by_xpath("//*[@id='g-mainbar']/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a")
URS=[]
for i in urltwo[:1]:
    URS.append(i.get_attribute('href'))
for urltwo in URS:
    driver3.get(urltwo)

In [50]:
Table=[]
Tabl=driver3.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td")
for i in Tabl:
    title=i.text
    Table.append(title.replace('\n',','))
Table[:]

['Exception name',
 'Description',
 'ElementNotVisibleException',
 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'ElementNotSelectableException',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'NoSuchElementException',
 'This Exception occurs if an element could not be found.',
 'NoSuchFrameException',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'NoAlertPresentException',
 'This Exception occurs when you switch to no presented alert.',
 'NoSuchWindowException',
 'This Exception occurs if the window target to be switch does not exist.',
 'StaleElementReferenceException',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'SessionNotFoundException',
 'The WebDriver is acting after you quit the browser.',
 'TimeoutException',
 "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.",
 'WebDriverException',
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'ConnectionClosedException',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'ElementClickInterceptedException',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'ElementNotInteractableException',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'ErrorInResponseException',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'ErrorHandler.UnknownServerException',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'ImeActivationFailedException',
 'This expectation will occur when IME engine activation has failed.',
 'ImeNotAvailableException',
 'It takes place when IME support is unavailable.',
 'InsecureCertificateException',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'InvalidArgumentException',
 'It occurs when an argument does not belong to the expected type.',
 'InvalidCookieDomainException',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'InvalidCoordinatesException',
 'This type of Exception matches an interacting operation that is not valid.',
 'InvalidElementStateExceptio',
 "It occurs when command can't be finished when the element is invalid.",
 'InvalidSessionIdException',
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'InvalidSwitchToTargetException',
 'This occurs when the frame or window target to be switched does not exist.',
 'JavascriptException',
 'This issue occurs while executing JavaScript given by the user.',
 'JsonException',
 'It occurs when you afford to get the session when the session is not created.',
 'NoSuchAttributeException',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'MoveTargetOutOfBoundsException',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'NoSuchContextException',
 'ContextAware does mobile device testing.',
 'NoSuchCookieException',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'NotFoundException',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'RemoteDriverServerException',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'ScreenshotException',
 'It is not possible to capture a screen.',
 'SessionNotCreatedException',
 'It happens when a new session could not be successfully created.',
 'UnableToSetCookieException',
 'This occurs if a driver is unable to set a cookie.',
 'UnexpectedTagNameException',
 'Happens if a support class did not get a web element as expected.',
 'UnhandledAlertException',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'UnexpectedAlertPresentException',
 'It occurs when there is the appearance of an unexpected alert.',
 'UnknownMethodException',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'UnreachableBrowserException',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 'UnsupportedCommandException',
 "This occurs when remote WebDriver does n't send valid commands as expected."]

In [71]:
Excp=[]
i = 3
while i < len(Table):
    Excp.append(Table[i])
    i = i+2;
Excp[:]

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.",
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 "It occurs when command can't be finished when the element is invalid.",
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 "This occurs when remote WebDriver does n't send valid commands as expected."]

In [72]:
Desc=[]
i = 2
while i < len(Table):
    Desc.append(Table[i])
    i = i+2;
Desc[:]

['ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [78]:
Third_task=pd.DataFrame({})
Third_task['Exceptions']=Desc[:]
Third_task['Description']=Excp[:]
Third_task

,Exceptions,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# Q.4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [4]:
driver4=webdriver.Chrome(r"D:\sel\\chromedriver.exe")

In [5]:
driver4.get('http://statisticstimes.com/')

In [5]:
url=driver4.find_elements_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]")
UR=[]
for i in url[:1]:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver4.get(url)

In [6]:
urltwo=driver4.find_elements_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
URS=[]
for i in urltwo[:1]:
    URS.append(i.get_attribute('href'))
for urltwo in URS:
    driver4.get(urltwo)

In [13]:
Table=[]
Tabl=driver4.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td")
for i in Tabl:
    title=i.text
    Table.append(title.replace('\n',','))
Table[:]

['1',
 'Maharashtra',
 '-',
 '2,632,792',
 '13.88%',
 '398.145',
 '-',
 '2,039,074',
 '2',
 'Tamil Nadu',
 '1,845,853',
 '1,630,208',
 '8.59%',
 '246.529',
 '1,312,929',
 '1,215,307',
 '3',
 'Uttar Pradesh',
 '1,687,818',
 '1,584,764',
 '8.35%',
 '239.656',
 '1,166,817',
 '1,123,982',
 '4',
 'Gujarat',
 '-',
 '1,502,899',
 '7.92%',
 '227.276',
 '-',
 '1,186,379',
 '5',
 'Karnataka',
 '1,631,977',
 '1,493,127',
 '7.87%',
 '225.798',
 '1,156,039',
 '1,091,077',
 '6',
 'West Bengal',
 '1,253,832',
 '1,089,898',
 '5.75%',
 '164.820',
 '793,223',
 '739,525',
 '7',
 'Rajasthan',
 '1,020,989',
 '942,586',
 '4.97%',
 '142.543',
 '711,627',
 '677,428',
 '8',
 'Andhra Pradesh',
 '972,782',
 '862,957',
 '4.55%',
 '130.501',
 '672,018',
 '621,301',
 '9',
 'Telangana',
 '969,604',
 '861,031',
 '4.54%',
 '130.210',
 '663,258',
 '612,828',
 '10',
 'Madhya Pradesh',
 '906,672',
 '809,592',
 '4.27%',
 '122.431',
 '561,801',
 '522,009',
 '11',
 'Kerala',
 '-',
 '781,653',
 '4.12%',
 '118.206',
 '-',
 '559,412',
 '12',
 'Delhi',
 '856,112',
 '774,870',
 '4.08%',
 '117.180',
 '634,408',
 '590,569',
 '13',
 'Haryana',
 '831,610',
 '734,163',
 '3.87%',
 '111.024',
 '572,240',
 '531,085',
 '14',
 'Bihar',
 '611,804',
 '530,363',
 '2.80%',
 '80.204',
 '414,977',
 '375,651',
 '15',
 'Punjab',
 '574,760',
 '526,376',
 '2.77%',
 '79.601',
 '418,868',
 '397,669',
 '16',
 'Odisha',
 '521,275',
 '487,805',
 '2.57%',
 '73.768',
 '396,499',
 '376,877',
 '17',
 'Assam',
 '-',
 '315,881',
 '1.67%',
 '47.769',
 '-',
 '234,048',
 '18',
 'Chhattisgarh',
 '329,180',
 '304,063',
 '1.60%',
 '45.982',
 '243,477',
 '231,182',
 '19',
 'Jharkhand',
 '328,598',
 '297,204',
 '1.57%',
 '44.945',
 '240,036',
 '224,986',
 '20',
 'Uttarakhand',
 '-',
 '245,895',
 '1.30%',
 '37.186',
 '-',
 '193,273',
 '21',
 'Jammu & Kashmir',
 '-',
 '155,956',
 '0.82%',
 '23.584',
 '-',
 '112,755',
 '22',
 'Himachal Pradesh',
 '165,472',
 '153,845',
 '0.81%',
 '23.265',
 '124,403',
 '117,851',
 '23',
 'Goa',
 '80,449',
 '73,170',
 '0.39%',
 '11.065',
 '63,408',
 '57,787',
 '24',
 'Tripura',
 '55,984',
 '49,845',
 '0.26%',
 '7.538',
 '40,583',
 '36,963',
 '25',
 'Chandigarh',
 '-',
 '42,114',
 '0.22%',
 '6.369',
 '-',
 '31,192',
 '26',
 'Puducherry',
 '38,253',
 '34,433',
 '0.18%',
 '5.207',
 '25,093',
 '23,013',
 '27',
 'Meghalaya',
 '36,572',
 '33,481',
 '0.18%',
 '5.063',
 '26,695',
 '24,682',
 '28',
 'Sikkim',
 '32,496',
 '28,723',
 '0.15%',
 '4.344',
 '20,017',
 '18,722',
 '29',
 'Manipur',
 '31,790',
 '27,870',
 '0.15%',
 '4.215',
 '20,673',
 '19,300',
 '30',
 'Nagaland',
 '-',
 '27,283',
 '0.14%',
 '4.126',
 '-',
 '17,647',
 '31',
 'Arunachal Pradesh',
 '-',
 '24,603',
 '0.13%',
 '3.721',
 '-',
 '16,676',
 '32',
 'Mizoram',
 '26,503',
 '22,287',
 '0.12%',
 '3.370',
 '18,797',
 '16,478',
 '33',
 'Andaman & Nicobar Islands',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [18]:
Rank=[]
i = 0
while i < len(Table):
    Rank.append(Table[i])
    i = i+8;
Rank[:]

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [19]:

State=[]
i = 1
while i < len(Table):
    State.append(Table[i])
    i = i+8;
State[:]

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [21]:
GSDP=[]
i = 2
while i < len(Table):
    GSDP.append(Table[i])
    i = i+8;
GSDP[:]

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

In [22]:
GSDP2=[]
i = 3
while i < len(Table):
    GSDP2.append(Table[i])
    i = i+8;
GSDP2[:]

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [23]:
Share=[]
i = 4
while i < len(Table):
    Share.append(Table[i])
    i = i+8;
Share[:]

['13.88%',
 '8.59%',
 '8.35%',
 '7.92%',
 '7.87%',
 '5.75%',
 '4.97%',
 '4.55%',
 '4.54%',
 '4.27%',
 '4.12%',
 '4.08%',
 '3.87%',
 '2.80%',
 '2.77%',
 '2.57%',
 '1.67%',
 '1.60%',
 '1.57%',
 '1.30%',
 '0.82%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [24]:
GDP=[]
i = 5
while i < len(Table):
    GDP.append(Table[i])
    i = i+8;
GDP[:]

['398.145',
 '246.529',
 '239.656',
 '227.276',
 '225.798',
 '164.820',
 '142.543',
 '130.501',
 '130.210',
 '122.431',
 '118.206',
 '117.180',
 '111.024',
 '80.204',
 '79.601',
 '73.768',
 '47.769',
 '45.982',
 '44.945',
 '37.186',
 '23.584',
 '23.265',
 '11.065',
 '7.538',
 '6.369',
 '5.207',
 '5.063',
 '4.344',
 '4.215',
 '4.126',
 '3.721',
 '3.370',
 '-']

In [25]:
Fourth_task=pd.DataFrame({})
Fourth_task['Rank']=Rank[:]
Fourth_task['State']=State[:]
Fourth_task['GSDP(19-20)']=GSDP[:]
Fourth_task['GSDP(18-19)']=GSDP2[:]
Fourth_task['Share']=Share[:]
Fourth_task['GDP']=GDP[:]
Fourth_task

   Rank                      State GSDP(19-20) GSDP(18-19)   Share      GDP
0     1                Maharashtra           -   2,632,792  13.88%  398.145
1     2                 Tamil Nadu   1,845,853   1,630,208   8.59%  246.529
2     3              Uttar Pradesh   1,687,818   1,584,764   8.35%  239.656
3     4                    Gujarat           -   1,502,899   7.92%  227.276
4     5                  Karnataka   1,631,977   1,493,127   7.87%  225.798
5     6                West Bengal   1,253,832   1,089,898   5.75%  164.820
6     7                  Rajasthan   1,020,989     942,586   4.97%  142.543
7     8             Andhra Pradesh     972,782     862,957   4.55%  130.501
8     9                  Telangana     969,604     861,031   4.54%  130.210
9    10             Madhya Pradesh     906,672     809,592   4.27%  122.431
10   11                     Kerala           -     781,653   4.12%  118.206
11   12                      Delhi     856,112     774,870   4.08%  117.180
12   13                    Haryana     831,610     734,163   3.87%  111.024
13   14                      Bihar     611,804     530,363   2.80%   80.204
14   15                     Punjab     574,760     526,376   2.77%   79.601
15   16                     Odisha     521,275     487,805   2.57%   73.768
16   17                      Assam           -     315,881   1.67%   47.769
17   18               Chhattisgarh     329,180     304,063   1.60%   45.982
18   19                  Jharkhand     328,598     297,204   1.57%   44.945
19   20                Uttarakhand           -     245,895   1.30%   37.186
20   21            Jammu & Kashmir           -     155,956   0.82%   23.584
21   22           Himachal Pradesh     165,472     153,845   0.81%   23.265
22   23                        Goa      80,449      73,170   0.39%   11.065
23   24                    Tripura      55,984      49,845   0.26%    7.538
24   25                 Chandigarh           -      42,114   0.22%    6.369
25   26                 Puducherry      38,253      34,433   0.18%    5.207
26   27                  Meghalaya      36,572      33,481   0.18%    5.063
27   28                     Sikkim      32,496      28,723   0.15%    4.344
28   29                    Manipur      31,790      27,870   0.15%    4.215
29   30                   Nagaland           -      27,283   0.14%    4.126
30   31          Arunachal Pradesh           -      24,603   0.13%    3.721
31   32                    Mizoram      26,503      22,287   0.12%    3.370
32   33  Andaman & Nicobar Islands           -           -       -        -

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [22]:
driver5=webdriver.Chrome(r"D:\sel\\chromedriver.exe")

In [23]:
driver5.get('https://github.com/')

In [31]:
url=driver5.find_elements_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
UR=[]
for i in url[:1]:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver5.get(url)

In [14]:
Repository_title=[]
Tabl=driver5.find_elements_by_xpath("//*[@id='js-pjax-container']/div/div/div/article/h1/a/span")
for i in Tabl:
    title=i.text
    Repository_title.append(title.replace('\n',','))
Repository_title[:]

['slidevjs /',
 'milvus-io /',
 'google /',
 'donnemartin /',
 'abuanwar072 /',
 'CyC2018 /',
 'dromara /',
 'youngyangyang04 /',
 'monk-coder /',
 'Light-City /',
 'ossrs /',
 'ventoy /',
 'jlevy /',
 'apache /',
 'element-plus /',
 'PanJiaChen /',
 'Olshansk /',
 'dogecoin /',
 'DopplerHQ /',
 'trimstray /',
 'sdmg15 /',
 'LeCoupa /',
 'jwasham /',
 'yangshun /',
 'alacritty /']

In [17]:
Repository_description=[]
Table=driver5.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/p")
for i in Table:
    title=i.text
    Repository_description.append(title.replace('\n',','))
Repository_description[:]

['Presentation Slides for Developers (Public Beta 🎉)',
 'An open source embedding vector similarity search engine powered by Faiss, NMSLIB and Annoy',
 'A tool for writing better scripts',
 'Learn how to design large-scale systems. Prep for the system design interview. Includes Anki flashcards.',
 'Responsive Admin Panel or Dashboard using Flutter',
 '📚 技术面试必备基础知识、Leetcode、计算机操作系统、计算机网络、系统设计',
 'High-Performance Java API Gateway',
 'LeetCode 刷题攻略：200道题目刷题顺序，共60w字的详细图解，视频难点剖析，50余张思维导图，从此算法学习不再迷茫！🔥🔥 来看看，你会发现相见恨晚！🚀',
 '繁华 不过一掬细沙',
 'C++那些事',
 'SRS is a simple, high efficiency and realtime video server, supports RTMP/WebRTC/HLS/HTTP-FLV/SRT/GB28181.',
 'A new bootable USB solution.',
 'Master the command line, in one page',
 'Apache Pulsar - distributed pub-sub messaging system',
 '🎉 A Vue.js 3.0 UI Library made by Element team',
 '🎉 A magical vue admin https://panjiachen.github.io/vue-element-admin',
 'Everything you need to prepare for your technical interview',
 'very currency',
 'A curated awesome list of lists of interview questions. Feel free to contribute! 🎓',
 'A collection of inspiring lists, manuals, cheatsheets, blogs, hacks, one-liners, cli/web tools and more.',
 '🔗 Some useful websites for programmers.',
 '👩\u200d💻👨\u200d💻 Awesome cheatsheets for popular programming languages, frameworks and development tools. They include everything you should know in one single file.',
 'A complete computer science study plan to become a software engineer.',
 '💯 Materials to help you rock your next coding interview',
 'A cross-platform, OpenGL terminal emulator.']

In [18]:
Language_used=[]
Tables=driver5.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div[2]/span[1]/span[2]")
for i in Tables:
    title=i.text
    Language_used.append(title.replace('\n',','))
Language_used[:]

['TypeScript',
 'Go',
 'JavaScript',
 'Python',
 'Dart',
 'Java',
 'Java',
 'JavaScript',
 'C++',
 'C++',
 'C',
 'Java',
 'Vue',
 'Vue',
 'C++',
 'JavaScript',
 'JavaScript',
 'Rust']

In [35]:
url=driver5.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article[1]/h1/a")
UR=[]
for i in url[:]:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver5.get(url)
    
Contributors_count=[]
Tablesss=driver5.find_elements_by_xpath("//*[@id='repo-content-pjax-container']/div/div[2]/div[2]/div/div[5]/div/h2/a/span")
for i in Tablesss:
    title=i.text
    Contributors_count.append(title.replace('\n',','))
Contributors_count[:]

['17']

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [7]:
driver6=webdriver.Chrome(r"D:\sel\\chromedriver.exe")

In [8]:
driver6.get('https://www.billboard.com/')

In [9]:
url=driver6.find_elements_by_xpath("//*[@id='root']/div[2]/div[2]/nav/ul/li[3]/a")
UR=[]
for i in url[:1]:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver6.get(url)

In [16]:
Song=[]
Tabl=driver6.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in Tabl:
    title=i.text
    Song.append(title.replace('\n',','))
Song[:]

['Save Your Tears',
 'Leave The Door Open',
 'Peaches',
 'Rapstar',
 'Levitating',
 'Kiss Me More',
 'Montero (Call Me By Your Name)',
 'Astronaut In The Ocean',
 'Up',
 'Drivers License',
 'Blinding Lights',
 'Deja Vu',
 'Beat Box',
 'Calling My Phone',
 'On Me',
 'Best Friend',
 'Heartbreak Anniversary',
 'Beautiful Mistakes',
 'What You Know Bout Love',
 'Mood',
 "My Ex's Best Friend",
 'Back In Blood',
 'Without You',
 'The Good Ones',
 'Go Crazy',
 'You Broke Me First.',
 '34+35',
 'Hell Of A View',
 'Forever After All',
 "What's Next",
 'Time Today',
 'Therefore I Am',
 'Dakiti',
 'Positions',
 'Shottas (Lala)',
 'Solid',
 'Track Star',
 'Ski',
 'Wants And Needs',
 "You're Mines Still",
 "We're Good",
 'Heat Waves',
 'Made For You',
 'Good Days',
 'For The Night',
 "Breaking Up Was Easy In The 90's",
 'No More Parties',
 'Goosebumps',
 'Telepatia',
 'Tombstone',
 'Streets',
 'Go!',
 'Hard For The Next',
 'If Pain Was A Person',
 "What's Your Country Song",
 'Just The Way',
 'Hold On',
 'Settling Down',
 'Wockesha',
 'Botella Tras Botella',
 'Willow',
 'Damage',
 'Street Runner',
 'Come Through',
 'Somebody Like That',
 'pov',
 'Lil Bit',
 'Gone',
 'Nobody',
 'Famous Friends',
 'Quicksand',
 'Lady',
 'The Business',
 'La Noche de Anoche',
 'One Too Many',
 'Richer',
 'Almost Maybes',
 'Follow You',
 'Glad You Exist',
 'Free Promo',
 'Pick Up Your Feelings',
 'Just Say Det',
 'Big Gangsta',
 'Down To One',
 'Headshot',
 'Hellcats & Trackhawks',
 'Anyone',
 'My Head And My Heart',
 'How They Remember You',
 'Arcade',
 "Drunk (And I Don't Wanna Go Home)",
 'Masterpiece',
 'Long Live',
 'Chasing After You',
 'Drankin N Smokin',
 '4 Da Gang',
 'Blame It On You',
 'Wasted On You',
 'Way Less Sad',
 'Clear Da Air']

In [17]:
Artist=[]
Table=driver6.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in Table:
    title=i.text
    Artist.append(title.replace('\n',','))
Artist[:]

['The Weeknd & Ariana Grande',
 'Silk Sonic (Bruno Mars & Anderson .Paak)',
 'Justin Bieber Featuring Daniel Caesar & Giveon',
 'Polo G',
 'Dua Lipa Featuring DaBaby',
 'Doja Cat Featuring SZA',
 'Lil Nas X',
 'Masked Wolf',
 'Cardi B',
 'Olivia Rodrigo',
 'The Weeknd',
 'Olivia Rodrigo',
 'SpotemGottem Featuring Pooh Shiesty Or DaBaby',
 'Lil Tjay Featuring 6LACK',
 'Lil Baby',
 'Saweetie Featuring Doja Cat',
 'Giveon',
 'Maroon 5 Featuring Megan Thee Stallion',
 'Pop Smoke',
 '24kGoldn Featuring iann dior',
 'Machine Gun Kelly X blackbear',
 'Pooh Shiesty Featuring Lil Durk',
 'The Kid LAROI',
 'Gabby Barrett',
 'Chris Brown & Young Thug',
 'Tate McRae',
 'Ariana Grande',
 'Eric Church',
 'Luke Combs',
 'Drake',
 'Moneybagg Yo',
 'Billie Eilish',
 'Bad Bunny & Jhay Cortez',
 'Ariana Grande',
 'Moneybagg Yo',
 'Young Thug & Gunna Featuring Drake',
 'Mooski',
 'Young Thug & Gunna',
 'Drake Featuring Lil Baby',
 'Yung Bleu Featuring Drake',
 'Dua Lipa',
 'Glass Animals',
 'Jake Owen',
 'SZA',
 'Pop Smoke Featuring Lil Baby & DaBaby',
 'Sam Hunt',
 'Coi Leray Featuring Lil Durk',
 'Travis Scott & HVME',
 'Kali Uchis',
 'Rod Wave',
 'Doja Cat',
 'Moneybagg Yo Featuring BIG30',
 'Moneybagg Yo & Future',
 'Moneybagg Yo',
 'Thomas Rhett',
 'Parmalee x Blanco Brown',
 'Justin Bieber',
 'Miranda Lambert',
 'Moneybagg Yo',
 'Gera MX + Christian Nodal',
 'Taylor Swift',
 'H.E.R.',
 'Rod Wave',
 'H.E.R. Featuring Chris Brown',
 'Tenille Arts',
 'Ariana Grande',
 'Nelly & Florida Georgia Line',
 'Dierks Bentley',
 'Dylan Scott',
 'Chris Young + Kane Brown',
 'Morray',
 'Brett Young',
 'Tiesto',
 'Bad Bunny & Rosalia',
 'Keith Urban Duet With P!nk',
 'Rod Wave Featuring Polo G',
 'Jordan Davis',
 'Imagine Dragons',
 'Dan + Shay',
 'Moneybagg Yo Featuring Polo G & Lil Durk',
 'Jazmine Sullivan',
 'Moneybagg Yo',
 'Kevin Gates',
 'Luke Bryan',
 'Lil Tjay, Polo G & Fivio Foreign',
 'Lil Durk',
 'Justin Bieber',
 'Ava Max',
 'Rascal Flatts',
 'Duncan Laurence',
 'Elle King & Miranda Lambert',
 'DaBaby',
 'Florida Georgia Line',
 'Ryan Hurd With Maren Morris',
 'Future & Lil Uzi Vert',
 '42 Dugg & Roddy Ricch',
 'Jason Aldean',
 'Morgan Wallen',
 'AJR',
 'Moneybagg Yo']

In [18]:
Last_Week_Rank=[]
Tables=driver6.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in Tables:
    title=i.text
    Last_Week_Rank.append(title.replace('\n',','))
Last_Week_Rank[:]

['6',
 '2',
 '3',
 '1',
 '5',
 '8',
 '4',
 '7',
 '9',
 '10',
 '13',
 '11',
 '14',
 '16',
 '32',
 '15',
 '20',
 '22',
 '17',
 '19',
 '27',
 '23',
 '31',
 '21',
 '24',
 '25',
 '26',
 '41',
 '35',
 '28',
 '53',
 '30',
 '29',
 '33',
 '-',
 '12',
 '37',
 '18',
 '36',
 '34',
 '38',
 '39',
 '42',
 '44',
 '40',
 '49',
 '43',
 '47',
 '54',
 '48',
 '51',
 '96',
 '-',
 '-',
 '52',
 '58',
 '56',
 '65',
 '-',
 '-',
 '60',
 '61',
 '57',
 '-',
 '50',
 '81',
 '89',
 '74',
 '86',
 '73',
 '71',
 '70',
 '78',
 '64',
 '72',
 '62',
 '76',
 '84',
 '63',
 '-',
 '88',
 '-',
 '87',
 '69',
 '67',
 '83',
 '68',
 '75',
 '-',
 '94',
 '79',
 '80',
 '82',
 '91',
 '97',
 '100',
 '-',
 '92',
 '-',
 '-']

In [19]:
Peak=[]
Tabless=driver6.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in Tabless:
    title=i.text
    Peak.append(title.replace('\n',','))
Peak[:]

['1',
 '1',
 '1',
 '1',
 '5',
 '6',
 '1',
 '7',
 '1',
 '1',
 '1',
 '8',
 '12',
 '3',
 '15',
 '14',
 '17',
 '18',
 '9',
 '1',
 '21',
 '13',
 '23',
 '19',
 '3',
 '17',
 '2',
 '28',
 '2',
 '1',
 '31',
 '2',
 '5',
 '1',
 '35',
 '12',
 '35',
 '18',
 '2',
 '18',
 '38',
 '39',
 '42',
 '9',
 '6',
 '46',
 '26',
 '47',
 '39',
 '11',
 '16',
 '52',
 '49',
 '54',
 '29',
 '31',
 '20',
 '58',
 '59',
 '60',
 '1',
 '44',
 '16',
 '64',
 '50',
 '40',
 '67',
 '68',
 '69',
 '70',
 '71',
 '52',
 '69',
 '53',
 '62',
 '22',
 '73',
 '78',
 '63',
 '80',
 '75',
 '82',
 '81',
 '36',
 '42',
 '69',
 '6',
 '45',
 '89',
 '90',
 '79',
 '55',
 '45',
 '91',
 '31',
 '67',
 '97',
 '9',
 '99',
 '100']

In [20]:
Weeks_on_board=[]
Tabless=driver6.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in Tabless:
    title=i.text
    Weeks_on_board.append(title.replace('\n',','))
Weeks_on_board[:]

['20',
 '8',
 '6',
 '3',
 '30',
 '3',
 '5',
 '11',
 '12',
 '16',
 '73',
 '4',
 '15',
 '11',
 '21',
 '16',
 '11',
 '8',
 '34',
 '38',
 '37',
 '17',
 '21',
 '18',
 '51',
 '36',
 '26',
 '16',
 '27',
 '8',
 '12',
 '25',
 '26',
 '27',
 '1',
 '2',
 '10',
 '2',
 '8',
 '21',
 '11',
 '15',
 '10',
 '18',
 '43',
 '9',
 '12',
 '15',
 '10',
 '6',
 '16',
 '2',
 '3',
 '1',
 '19',
 '18',
 '8',
 '7',
 '1',
 '1',
 '20',
 '20',
 '7',
 '1',
 '15',
 '8',
 '6',
 '7',
 '9',
 '5',
 '12',
 '16',
 '10',
 '14',
 '20',
 '5',
 '14',
 '4',
 '12',
 '1',
 '14',
 '1',
 '3',
 '18',
 '6',
 '7',
 '17',
 '12',
 '2',
 '3',
 '3',
 '14',
 '17',
 '2',
 '13',
 '4',
 '1',
 '16',
 '1',
 '1']

In [21]:
Sixth_task=pd.DataFrame({})
Sixth_task['Song']=Song[:]
Sixth_task['Artist']=Artist[:]
Sixth_task['Last_Week_Rank']=Last_Week_Rank[:]
Sixth_task['Peak']=Peak[:]
Sixth_task['Weeks_on_board']=Weeks_on_board[:]
Sixth_task

,Song,Artist,Last_Week_Rank,Peak,Weeks_on_board
0,Save Your Tears,The Weeknd & Ariana Grande,6,1,20
1,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),2,1,8
2,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,3,1,6
3,Rapstar,Polo G,1,1,3
4,Levitating,Dua Lipa Featuring DaBaby,5,5,30
...,...,...,...,...,...
95,4 Da Gang,42 Dugg & Roddy Ricch,100,67,4
96,Blame It On You,Jason Aldean,-,97,1
97,Wasted On You,Morgan Wallen,92,9,16
98,Way Less Sad,AJR,-,99,1
99,Clear Da Air,Moneybagg Yo,-,100,1

# Q.7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [2]:
driver7=webdriver.Chrome(r"D:\sel\\chromedriver.exe")

In [3]:
driver7.get('https://www.naukri.com/')

In [5]:
url=driver7.find_elements_by_xpath("//*[@id='root']/div[1]/div/ul[1]/li[2]/a")
UR=[]
for i in url[:1]:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver7.get(url)

In [13]:
search_bar=driver7.find_element_by_xpath("//*[@id='skill']/div[1]/div[2]/input")
search_bar.clear()
search_bar.send_keys(" Data science")
search_button=driver7.find_element_by_xpath('//button[@id="qsbFormBtn"]')
search_button.click()

In [47]:
Name=[]
Table=driver7.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in Table:
    title=i.text
    Name.append(title.replace('\n',','))
Name[:]

['Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra']

In [48]:
Designation=[]
Tables=driver7.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in Tables:
    title=i.text
    Designation.append(title.replace('\n',','))
Designation[:]

['HR Manager',
 'Company Recruiter',
 'Recruitment Professional',
 'Company Recruiter',
 'Company HR',
 'Founder CEO',
 'Recruitment Lead Consultant',
 'Programme Manager',
 'HR Administrator',
 'Director',
 'Human Resource',
 'Executive Hiring',
 'Company HR',
 'Company HR',
 'Senior Executive Talent Acquisition',
 'HR Team Lead',
 'HR Manager',
 'Senior Manager',
 'HR Executive',
 'Manager Talent Acquisition',
 'HR Head',
 'HR MANAGER',
 'HR Recruiter',
 'Company Recruiter',
 'HR Recruiter',
 'Manager Human Resources',
 'Lead Talent acquisition',
 'Proprietor',
 'CEO',
 'Founder CEO',
 'Company Recruitment Head',
 'HR Executive',
 'Project Manager',
 'Head',
 'Consultant',
 'senior technology instructor',
 'HR Recruiter/HR Excutive',
 'Manager, Technical Recruiting',
 'Technical Recruiter',
 'Erp Implementer',
 'Head Analytics',
 'Chief Technical Officer',
 'Sr Product Manager',
 'Director Global Delivery',
 'Co Founder',
 'HR Manager',
 'Architect',
 'Managing Partner',
 'Recruitment Consultant',
 'HR Manager']

In [49]:
Company=[]
Tablee=driver7.find_elements_by_xpath("//a[@class='ellipsis']")
for i in Tablee:
    title=i.text
    Company.append(title.replace('\n',','))
Company[1::2]

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'XenonStack',
 'Enerlytics Software Solutions Pvt Ltd',
 'MARSIAN Technologies LLP',
 'LibraryXProject',
 'Apidel Technologies Division of Transpower',
 'IFMR',
 'Techvantage Systems Pvt Ltd',
 'Weupskill- Live Wire India',
 'CBL Data Science Private Limited',
 'Innominds Software',
 'MoneyTap',
 'QuantMagnum Technologies Pvt. Ltd.',
 'Bristlecone India Ltd',
 'SocialPrachar.com',
 'BISP Solutions',
 'Independent Consultant',
 'Easi Tax',
 'Novelworx Digital Solutions',
 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE...',
 'FirstTech Consaltants Pvt.Ltd',
 'Affine Analytics',
 'NEAL ANALYTICS SERVICES PVT LTD',
 'Compumatrice Multimedia Pvt Ltd',
 'Exela Technologies',
 'Autumn Leaf Consulting Services Private...',
 'trainin',
 'Nanoprecise Sci Corp',
 'R.S Consultancy &amp; Services',
 'Confidential',
 'Techcovery',
 'Dollarbird Information Services Pvt, Ltd',
 'Trisect',
 'ASCO consulting',
 'NY INST',
 '3D India Staffing Research &amp; Consulting...',
 'O.C. Tanner',
 'Demand Matrix',
 'MADHUSUDHAN SRIDHAR',
 'Suntech Global',
 'Strategic Consulting Lab',
 'Impel Labs Pvt. Ltd.',
 'MRP Advisers',
 'Saras Solutions India Pvt Ltd',
 'WildJasmine',
 'LNT Private Limited',
 'Granular.ai',
 'JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED',
 'Certybox Pvt.Ltd.']

In [50]:
Skills=[]
Tabless=driver7.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in Tabless:
    title=i.text
    Skills.append(title.replace('\n',','))
Skills[:]

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Web Designing, html5, Angular.js, seo, hadoop, Cloud Computing, python, Iphone Development, java, Machine Learning, aws, analytics, linux, puppet',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Science',
 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End',
 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil',
 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript',
 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep',
 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi',
 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human',
 'Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning',
 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager',
 'Big Data, Hadoop, Data Analytics, Data Science',
 'Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization',
 'Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing',
 'Data Science',
 'Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship',
 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining',
 'Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop',
 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics',
 'Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring',
 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology',
 'Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js',
 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data',
 'Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data',
 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture',
 'Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi',
 'Python, Artificial Intelligence, Machine Learning, Data Science',
 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience',
 'Java, Python, Angularjs, Software Testing, Machine Learning, Data Science, Javascript, Django, React.js, Node.js, Augmented Reality, Virtual Reality, Advanced',
 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java',
 'C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++',
 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written',
 'Data Science, Software Engineering',
 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management',
 'Data Science, Recruitment, Salary',
 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview',
 'Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented',
 'Data Science, Node.js, Angularjs',
 'Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql',
 'Data Analysis, Learning, Data Science, Computer Science, Communication Skills',
 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata',
 'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics',
 'Machine Learning, Data Science, Product Management, New Product, Data Analysis, Computer Vision, Deep Learning, Python, Remote Sensing',
 'Data Science, Machine Learning, Big Data Analytics, Spark, Python, R, Networking, Network Engineering, Placement, Training, Sql, Marketing, Mainframes, All',
 'consulting, Education Counseling, Educational Sales, Institutional Sales, pmp, Data Science, Business Development, Revenue Generation, Sales Achievement, new']

In [51]:
Location=[]
Tableess=driver7.find_elements_by_xpath("//small[@class='ellipsis']")
for i in Tableess:
    title=i.text
    Location.append(title.replace('\n',','))
Location[:]

['Delhi',
 'Hyderabad / Secunderabad',
 'Chandigarh',
 'Ahmedabad',
 'Pune',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Nagpur',
 'Hyderabad / Secunderabad',
 'Bhopal',
 'Bengaluru / Bangalore',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Delhi',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Mysoru / Mysore',
 'Noida',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Noida']

In [ ]:
Seventh_task=pd.DataFrame({})
Seventh_task['Name']=Name[:]
Seventh_task['Designation']=Designation[:]
Seventh_task['Company']=Company[1::2]
Seventh_task['Skills']=Skills[:]
Seventh_task['Location']=Location[:]
Seventh_task

# Q.8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [52]:
driver8=webdriver.Chrome(r"D:\sel\\chromedriver.exe")

In [53]:
driver8.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [78]:
full=[]
Table=driver8.find_elements_by_xpath('//*[@id="article-body-blocks"]/div/table/tbody/tr/td')
for i in Table:
    title=i.text
    full.append(title.replace('\n',','))
full[:]

['1',
 'Da Vinci Code,The',
 'Brown, Dan',
 '5,094,805',
 'Transworld',
 'Crime, Thriller & Adventure',
 '2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury',
 "Children's Fiction",
 '3',
 "Harry Potter and the Philosopher's Stone",
 'Rowling, J.K.',
 '4,200,654',
 'Bloomsbury',
 "Children's Fiction",
 '4',
 'Harry Potter and the Order of the Phoenix',
 'Rowling, J.K.',
 '4,179,479',
 'Bloomsbury',
 "Children's Fiction",
 '5',
 'Fifty Shades of Grey',
 'James, E. L.',
 '3,758,936',
 'Random House',
 'Romance & Sagas',
 '6',
 'Harry Potter and the Goblet of Fire',
 'Rowling, J.K.',
 '3,583,215',
 'Bloomsbury',
 "Children's Fiction",
 '7',
 'Harry Potter and the Chamber of Secrets',
 'Rowling, J.K.',
 '3,484,047',
 'Bloomsbury',
 "Children's Fiction",
 '8',
 'Harry Potter and the Prisoner of Azkaban',
 'Rowling, J.K.',
 '3,377,906',
 'Bloomsbury',
 "Children's Fiction",
 '9',
 'Angels and Demons',
 'Brown, Dan',
 '3,193,946',
 'Transworld',
 'Crime, Thriller & Adventure',
 '10',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Rowling, J.K.',
 '2,950,264',
 'Bloomsbury',
 "Children's Fiction",
 '11',
 'Fifty Shades Darker',
 'James, E. L.',
 '2,479,784',
 'Random House',
 'Romance & Sagas',
 '12',
 'Twilight',
 'Meyer, Stephenie',
 '2,315,405',
 'Little, Brown Book',
 'Young Adult Fiction',
 '13',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Larsson, Stieg',
 '2,233,570',
 'Quercus',
 'Crime, Thriller & Adventure',
 '14',
 'Fifty Shades Freed',
 'James, E. L.',
 '2,193,928',
 'Random House',
 'Romance & Sagas',
 '15',
 'Lost Symbol,The',
 'Brown, Dan',
 '2,183,031',
 'Transworld',
 'Crime, Thriller & Adventure',
 '16',
 'New Moon',
 'Meyer, Stephenie',
 '2,152,737',
 'Little, Brown Book',
 'Young Adult Fiction',
 '17',
 'Deception Point',
 'Brown, Dan',
 '2,062,145',
 'Transworld',
 'Crime, Thriller & Adventure',
 '18',
 'Eclipse',
 'Meyer, Stephenie',
 '2,052,876',
 'Little, Brown Book',
 'Young Adult Fiction',
 '19',
 'Lovely Bones,The',
 'Sebold, Alice',
 '2,005,598',
 'Pan Macmillan',
 'General & Literary Fiction',
 '20',
 'Curious Incident of the Dog in the Night-time,The',
 'Haddon, Mark',
 '1,979,552',
 'Random House',
 'General & Literary Fiction',
 '21',
 'Digital Fortress',
 'Brown, Dan',
 '1,928,900',
 'Transworld',
 'Crime, Thriller & Adventure',
 '22',
 'Short History of Nearly Everything,A',
 'Bryson, Bill',
 '1,852,919',
 'Transworld',
 'Popular Science',
 '23',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Larsson, Stieg',
 '1,814,784',
 'Quercus',
 'Crime, Thriller & Adventure',
 '24',
 'Breaking Dawn',
 'Meyer, Stephenie',
 '1,787,118',
 'Little, Brown Book',
 'Young Adult Fiction',
 '25',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Carle, Eric',
 '1,783,535',
 'Penguin',
 'Picture Books',
 '26',
 'Gruffalo,The',
 'Donaldson, Julia',
 '1,781,269',
 'Pan Macmillan',
 'Picture Books',
 '27',
 "Jamie's 30-Minute Meals",
 'Oliver, Jamie',
 '1,743,266',
 'Penguin',
 'Food & Drink: General',
 '28',
 'Kite Runner,The',
 'Hosseini, Khaled',
 '1,629,119',
 'Bloomsbury',
 'General & Literary Fiction',
 '29',
 'One Day',
 'Nicholls, David',
 '1,616,068',
 'Hodder & Stoughton',
 'General & Literary Fiction',
 '30',
 'Thousand Splendid Suns,A',
 'Hosseini, Khaled',
 '1,583,992',
 'Bloomsbury',
 'General & Literary Fiction',
 '31',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 'Larsson, Stieg',
 '1,555,135',
 'Quercus',
 'Crime, Thriller & Adventure',
 '32',
 "Time Traveler's Wife,The",
 'Niffenegger, Audrey',
 '1,546,886',
 'Random House',
 'General & Literary Fiction',
 '33',
 'Atonement',
 'McEwan, Ian',
 '1,539,428',
 'Random House',
 'General & Literary Fiction',
 '34',
 "Bridget Jones's Diary:A Novel",
 'Fielding, Helen',
 '1,508,205',
 'Pan Macmillan',
 'General & Literary Fiction',
 '35',
 'World According to Clarkson,The',
 'Clarkson, Jeremy',
 '1,489,403',
 'Penguin',
 'Humour: Collections & General',
 '36',
 "Captain Corelli's Mandolin",
 'Bernieres, Louis de',
 '1,352,318',
 'Random House',
 'General & Literary Fiction',
 '37',
 'Sound of Laughter,The',
 'Kay, Peter',
 '1,310,207',
 'Random House',
 'Autobiography: General',
 '38',
 'Life of Pi',
 'Martel, Yann',
 '1,310,176',
 'Canongate',
 'General & Literary Fiction',
 '39',
 'Billy Connolly',
 'Stephenson, Pamela',
 '1,231,957',
 'HarperCollins',
 'Biography: The Arts',
 '40',
 'Child Called It,A',
 'Pelzer, Dave',
 '1,217,712',
 'Orion',
 'Autobiography: General',
 '41',
 "Gruffalo's Child,The",
 'Donaldson, Julia',
 '1,208,711',
 'Pan Macmillan',
 'Picture Books',
 '42',
 "Angela's Ashes:A Memoir of a Childhood",
 'McCourt, Frank',
 '1,204,058',
 'HarperCollins',
 'Autobiography: General',
 '43',
 'Birdsong',
 'Faulks, Sebastian',
 '1,184,967',
 'Random House',
 'General & Literary Fiction',
 '44',
 'Northern Lights:His Dark Materials S.',
 'Pullman, Philip',
 '1,181,503',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '45',
 'Labyrinth',
 'Mosse, Kate',
 '1,181,093',
 'Orion',
 'General & Literary Fiction',
 '46',
 'Harry Potter and the Half-blood Prince',
 'Rowling, J.K.',
 '1,153,181',
 'Bloomsbury',
 'Science Fiction & Fantasy',
 '47',
 'Help,The',
 'Stockett, Kathryn',
 '1,132,336',
 'Penguin',
 'General & Literary Fiction',
 '48',
 'Man and Boy',
 'Parsons, Tony',
 '1,130,802',
 'HarperCollins',
 'General & Literary Fiction',
 '49',
 'Memoirs of a Geisha',
 'Golden, Arthur',
 '1,126,337',
 'Random House',
 'General & Literary Fiction',
 '50',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'McCall Smith, Alexander',
 '1,115,549',
 'Little, Brown Book',
 'Crime, Thriller & Adventure',
 '51',
 'Island,The',
 'Hislop, Victoria',
 '1,108,328',
 'Headline',
 'General & Literary Fiction',
 '52',
 'PS, I Love You',
 'Ahern, Cecelia',
 '1,107,379',
 'HarperCollins',
 'General & Literary Fiction',
 '53',
 'You are What You Eat:The Plan That Will Change Your Life',
 'McKeith, Gillian',
 '1,104,403',
 'Penguin',
 'Fitness & Diet',
 '54',
 'Shadow of the Wind,The',
 'Zafon, Carlos Ruiz',
 '1,092,349',
 'Orion',
 'General & Literary Fiction',
 '55',
 'Tales of Beedle the Bard,The',
 'Rowling, J.K.',
 '1,090,847',
 'Bloomsbury',
 "Children's Fiction",
 '56',
 'Broker,The',
 'Grisham, John',
 '1,087,262',
 'Random House',
 'Crime, Thriller & Adventure',
 '57',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Atkins, Robert C.',
 '1,054,196',
 'Random House',
 'Fitness & Diet',
 '58',
 'Subtle Knife,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,037,160',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '59',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 'Truss, Lynne',
 '1,023,688',
 'Profile Books Group',
 'Usage & Writing Guides',
 '60',
 "Delia's How to Cook:(Bk.1)",
 'Smith, Delia',
 '1,015,956',
 'Random House',
 'Food & Drink: General',
 '61',
 'Chocolat',
 'Harris, Joanne',
 '1,009,873',
 'Transworld',
 'General & Literary Fiction',
 '62',
 'Boy in the Striped Pyjamas,The',
 'Boyne, John',
 '1,004,414',
 'Random House Childrens Books G',
 'Young Adult Fiction',
 '63',
 "My Sister's Keeper",
 'Picoult, Jodi',
 '1,003,780',
 'Hodder & Stoughton',
 'General & Literary Fiction',
 '64',
 'Amber Spyglass,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,002,314',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '65',
 'To Kill a Mockingbird',
 'Lee, Harper',
 '998,213',
 'Random House',
 'General & Literary Fiction',
 '66',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Gray, John',
 '992,846',
 'HarperCollins',
 'Popular Culture & Media: General Interest',
 '67',
 'Dear Fatty',
 'French, Dawn',
 '986,753',
 'Random House',
 'Autobiography: The Arts',
 '68',
 'Short History of Tractors in Ukrainian,A',
 'Lewycka, Marina',
 '986,115',
 'Penguin',
 'General & Literary Fiction',
 '69',
 'Hannibal',
 'Harris, Thomas',
 '970,509',
 'Random House',
 'Crime, Thriller & Adventure',
 '70',
 'Lord of the Rings,The',
 'Tolkien, J. R. R.',
 '967,466',
 'HarperCollins',
 'Science Fiction & Fantasy',
 '71',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Moore, Michael',
 '963,353',
 'Penguin',
 'Current Affairs & Issues',
 '72',
 'Interpretation of Murder,The',
 'Rubenfeld, Jed',
 '962,515',
 'Headline',
 'Crime, Thriller & Adventure',
 '73',
 'Sharon Osbourne Extreme:My Autobiography',
 'Osbourne, Sharon',
 '959,496',
 'Little, Brown Book',
 'Autobiography: The Arts',
 '74',
 'Alchemist,The:A Fable About Following Your Dream',
 'Coelho, Paulo',
 '956,114',
 'HarperCollins',
 'General & Literary Fiction',
 '75',
 "At My Mother's Knee ...:and Other Low Joints",
 "O'Grady, Paul",
 '945,640',
 'Transworld',
 'Autobiography: The Arts',
 '76',
 'Notes from a Small Island',
 'Bryson, Bill',
 '931,312',
 'Transworld',
 'Travel Writing',
 '77',
 'Return of the Naked Chef,The',
 'Oliver, Jamie',
 '925,425',
 'Penguin',
 'Food & Drink: General',
 '78',
 'Bridget Jones: The Edge of Reason',
 'Fielding, Helen',
 '924,695',
 'Pan Macmillan',
 'General & Literary Fiction',
 '79',
 "Jamie's Italy",
 'Oliver, Jamie',
 '906,968',
 'Penguin',
 'National & Regional Cuisine',
 '80',
 'I Can Make You Thin',
 'McKenna, Paul',
 '905,086',
 'Transworld',
 'Fitness & Diet',
 '81',
 'Down Under',
 'Bryson, Bill',
 '890,847',
 'Transworld',
 'Travel Writing',
 '82',
 'Summons,The',
 'Grisham, John',
 '869,671',
 'Random House',
 'Crime, Thriller & Adventure',
 '83',
 'Small Island',
 'Levy, Andrea',
 '869,659',
 'Headline',
 'General & Literary Fiction',
 '84',
 'Nigella Express',
 'Lawson, Nigella',
 '862,602',
 'Random House',
 'Food & Drink: General',
 '85',
 'Brick Lane',
 'Ali, Monica',
 '856,540',
 'Transworld',
 'General & Literary Fiction',
 '86',
 "Memory Keeper's Daughter,The",
 'Edwards, Kim',
 '845,858',
 'Penguin',
 'General & Literary Fiction',
 '87',
 'Room on the Broom',
 'Donaldson, Julia',
 '842,535',
 'Pan Macmillan',
 'Picture Books',
 '88',
 'About a Boy',
 'Hornby, Nick',
 '828,215',
 'Penguin',
 'General & Literary Fiction',
 '89',
 'My Booky Wook',
 'Brand, Russell',
 '820,563',
 'Hodder & Stoughton',
 'Autobiography: The Arts',
 '90',
 'God Delusion,The',
 'Dawkins, Richard',
 '816,907',
 'Transworld',
 'Popular Science',
 '91',
 '"Beano" Annual,The',
 '0',
 '816,585',
 'D.C. Thomson',
 "Children's Annuals",
 '92',
 'White Teeth',
 'Smith, Zadie',
 '815,586',
 'Penguin',
 'General & Literary Fiction',
 '93',
 'House at Riverton,The',
 'Morton, Kate',
 '814,370',
 'Pan Macmillan',
 'General & Literary Fiction',
 '94',
 'Book Thief,The',
 'Zusak, Markus',
 '809,641',
 'Transworld',
 'General & Literary Fiction',
 '95',
 'Nights of Rain and Stars',
 'Binchy, Maeve',
 '808,900',
 'Orion',
 'General & Literary Fiction',
 '96',
 'Ghost,The',
 'Harris, Robert',
 '807,311',
 'Random House',
 'General & Literary Fiction',
 '97',
 'Happy Days with the Naked Chef',
 'Oliver, Jamie',
 '794,201',
 'Penguin',
 'Food & Drink: General',
 '98',
 'Hunger Games,The:Hunger Games Trilogy',
 'Collins, Suzanne',
 '792,187',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '99',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 'Pelzer, Dave',
 '791,507',
 'Orion',
 'Biography: General',
 '100',
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours",
 'Oliver, Jamie',
 '791,095',
 'Penguin',
 'Food & Drink: General']

In [79]:
Rank=[]
i = 0
while i < len(full):
    Rank.append(full[i])
    i = i+6;
Rank[:]

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '100']

In [80]:
Book_name=[]
i = 1
while i < len(full):
    Book_name.append(full[i])
    i = i+6;
Book_name[:]

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [82]:
Author=[]
i = 2
while i < len(full):
    Author.append(full[i])
    i = i+6;
Author[:]

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [83]:
Volumes_sold=[]
i = 3
while i < len(full):
    Volumes_sold.append(full[i])
    i = i+6;
Volumes_sold[:]

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [85]:
Publisher=[]
i = 4
while i < len(full):
    Publisher.append(full[i])
    i = i+6;
Publisher[:]

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [86]:
Genre=[]
i = 5
while i < len(full):
    Genre.append(full[i])
    i = i+6;
Genre[:]

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [88]:
Eighth_task=pd.DataFrame({})
Eighth_task['Rank']=Rank[:]
Eighth_task['Book_name']=Book_name[:]
Eighth_task['Author']=Author[:]
Eighth_task['Publisher']=Publisher[:]
Eighth_task['Publisher']=Publisher[:]
Eighth_task['Genre']=Genre[:]
Eighth_task

,Rank,Book_name,Author,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.",Random House,Romance & Sagas
...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [89]:
driver9=webdriver.Chrome(r"D:\sel\\chromedriver.exe")

In [90]:
driver9.get('https://www.imdb.com/list/ls095964455/')

In [119]:
Name=[]
Table=driver9.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div/h3/a")
for i in Table:
    title=i.text
    Name.append(title.replace('\n',','))
Name[:]

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [128]:
Year_span=[]
Tablee=driver9.find_elements_by_xpath("//*[@id='main']/div/div[3]/div/div/div/h3/span")
for i in Tablee:
    title=i.text
    Year_span.append(title.replace('\n',','))
Year_span[1::2]

['(2011–2019)',
 '(2016– )',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017– )',
 '(2005– )',
 '(2014– )',
 '(2012–2020)',
 '(2017– )',
 '(2007–2019)',
 '(2011– )',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016– )',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016– )',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019– )',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018– )',
 '(2006–2021)',
 '(2015– )',
 '(1999– )',
 '(2013– )',
 '(2004–2010)',
 '(2013– )',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016– )',
 '(2017– )',
 '(2018–2020)',
 '(2017–2021)',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2022)',
 '(2013–2015)',
 '(2019– )',
 '(2014–2019)',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2021)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017– )',
 '(2016– )',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016– )',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005–2020)',
 '(2015–2019)',
 '(2018)']

In [139]:
Genre=[]
Tableee=driver9.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/p[1]/span[5]")
for i in Tableee:
    title=i.text
    Genre.append(title.replace('\n',','))
Genre[:]

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Mystery',
 'Comedy, Romance',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Action, Drama, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Thriller',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama, Fantasy',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [143]:
Run_Time=[]
Tablees=driver9.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/p[1]/span[3]")
for i in Tablees:
    title=i.text
    Run_Time.append(title.replace('\n',','))
Run_Time[:]

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [145]:
Rating=[]
Tableess=driver9.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]")
for i in Tableess:
    title=i.text
    Rating.append(title.replace('\n',','))
Rating[:]

['9.3',
 '8.7',
 '8.2',
 '7.6',
 '7.6',
 '8',
 '6.9',
 '7.6',
 '7.7',
 '7.5',
 '8.3',
 '8.1',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.6',
 '8.6',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.5',
 '8.5',
 '8.2',
 '6.2',
 '7.4',
 '8.3',
 '7.8',
 '8.6',
 '7.9',
 '8.4',
 '9.2',
 '6.6',
 '8.1',
 '8.7',
 '8.8',
 '7.6',
 '8.3',
 '8.6',
 '7.7',
 '7.5',
 '7.7',
 '8.6',
 '6.9',
 '8.1',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.4',
 '6.8',
 '8.4',
 '7.5',
 '8.1',
 '7.8',
 '6.7',
 '8.7',
 '8.4',
 '6.6',
 '8',
 '8.9',
 '7.9',
 '7.5',
 '8.7',
 '8.1',
 '8.5',
 '8.3',
 '7.3',
 '8.7',
 '8.2',
 '6.5',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.3',
 '8.5',
 '6.5',
 '8.1',
 '8.7',
 '9.4',
 '7.8',
 '7.5',
 '7.8',
 '8.1',
 '7.2',
 '8.6']

In [147]:
Votes=[]
Tableeess=driver9.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/p[4]/span[2]")
for i in Tableeess:
    title=i.text
    Votes.append(title.replace('\n',','))
Votes[:]

['1,804,912',
 '849,575',
 '868,692',
 '260,516',
 '221,522',
 '281,495',
 '123,575',
 '258,147',
 '311,722',
 '411,028',
 '318,497',
 '732,957',
 '456,756',
 '822,577',
 '446,068',
 '154,049',
 '288,125',
 '281,024',
 '1,504,404',
 '242,519',
 '397,604',
 '484,045',
 '132,904',
 '129,715',
 '370,469',
 '210,362',
 '366,578',
 '368,162',
 '847,916',
 '613,000',
 '368,968',
 '339,575',
 '120,021',
 '113,527',
 '156,676',
 '141,710',
 '213,999',
 '436,053',
 '195,362',
 '366,609',
 '388,438',
 '54,745',
 '151,703',
 '471,475',
 '297,935',
 '51,980',
 '166,815',
 '209,277',
 '196,175',
 '202,647',
 '150,382',
 '654,083',
 '114,929',
 '308,581',
 '204,370',
 '503,535',
 '370,010',
 '420,073',
 '57,642',
 '102,799',
 '318,533',
 '67,300',
 '93,619',
 '180,459',
 '80,236',
 '65,999',
 '39,980',
 '138,128',
 '335,734',
 '237,357',
 '101,791',
 '166,812',
 '507,331',
 '92,661',
 '117,679',
 '335,907',
 '98,493',
 '189,183',
 '63,060',
 '15,630',
 '112,162',
 '120,952',
 '116,648',
 '31,855',
 '226,061',
 '113,601',
 '118,329',
 '67,891',
 '92,599',
 '162,263',
 '23,269',
 '167,727',
 '162,461',
 '569,278',
 '61,225',
 '44,259',
 '54,710',
 '165,756',
 '34,624',
 '188,571']

In [148]:
Ninth_task=pd.DataFrame({})
Ninth_task['Name']=Name[:]
Ninth_task['Year_span']=Year_span[1::2]
Ninth_task['Genre']=Genre[:]
Ninth_task['Run_Time']=Run_Time[:]
Ninth_task['Rating']=Rating[:]
Ninth_task['Votes']=Votes[:]
Ninth_task

,Name,Year_span,Genre,Run_Time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,804,912"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"849,575"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"868,692"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"260,516"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"221,522"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,259"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,710"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"165,756"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.2,"34,624"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"188,571"

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [ ]:
//The site was not acessible